$dark: #054f6d;
$light: #05668D;
$lighter: #127ba5;
$pale: #F0F3BD;
@mixin textBox {
  font-size: 1.3em;
  color: white;
  opacity: 0.8;
}
@mixin rounded {
  border-radius: 12px;
}

* {
  margin: 0;
}

.page-footer,
body {
  background: $light;
  color: $pale;
}

#page-container {
  position: relative;
  min-height: 100vh;
  nav {
    background: $dark;
  }
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

.container {
  max-width: 680px;
  h1.header{
    color: $pale;    
  }
}

#scroll {
  position: fixed;
  right: 10%;
  top: 30%;
  a {
    color: $pale;
    opacity: 0.8;
  }
}

#profile {
  @include textBox;
  @include rounded;
  background: $lighter;
  width: 300px;
  margin: 0 auto;
  padding: 0.7em;
  float: initial;
}

.flow-text {
  @include textBox;
  font-weight: lighter;
  margin-bottom: 1.3em;
}

.card {
  border-radius: 8px;
  .card-title {
    color: $pale;
  }
  .card-image{
    max-height: 215px;
    opacity: .87;
  }
  .card-content,
  .card-reveal {
    background-color: $dark;
  }
  .bottom {
    position: absolute;
    bottom: 2em;
  }
}

#connect .container div {
  @include rounded;
  height: 150px;
  width: 100%;
}

#icons{
  a {
    margin-right: .7em;
    &:hover{
      cursor: pointer;
    }
    img{
      width:55px;
      &:hover{
        box-shadow:
                  1px 1px $dark,
                  2px 2px $dark,
                  3px 3px $dark;
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
      }
    }
  }
}

.modal {
  max-height: 85vh;
  .modal-content {
    //min-height: 500px;
    .img-center {
      margin: 0 auto;
      width: -webkit-fill-available;
      max-height: -webkit-fill-available;
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 0;
  .row {
    margin-bottom: 0;
    background: $dark;
  }
}
